body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: #fff;
  background: #f9f9f9;
}

.page-container {
  margin: 200px auto 0 auto;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

#loginForm {
  position: relative;
  width: 400px;
  margin: 250px auto 0 auto;
  text-align: center;
}

